<h2>List of memberships</h2>

<p> Number of memberships: <%= @memberships.count%> </p>
<ul>
	<% @memberships.each do |membership| %>
	<li> <%= membership %></li>
	<% end %>
</ul>

<br>

<%= link_to 'New Membership', new_membership_path %>
